<div style="background-color: blanchedalmond">
  <h3> Welcome to {{ title }}! </h3>
  <nav>
    <a routerLinkActive="active" routerLink="/dash">Dashboard</a>
    <a routerLinkActive="active" routerLink="/home">Home</a>
    <a routerLinkActive="active" routerLink="/games">Games</a>
    <a routerLinkActive="active" routerLink="/teams">Teams</a>
    <a routerLinkActive="active" routerLink="/players">Players</a>
    <a routerLinkActive="active" routerLink="/scores">Scores</a>
    <a routerLinkActive="active" routerLink="/page-not-found">Not Found</a>
  </nav>

</div>